<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="The Lawliet Host Team">
  <meta name="description" content="Stop paying ridiculous amount of money for laggy and unreliable hosts. Instead, get the cheapest (or free) hosting at LawlietHost at just $0.2!">
  <meta name="keywords" content="hosting, host, minecraft, discord, python, node, nodejs, csharp, c#, f#, .net, java, javascript, java script, best hosting, aws sucks, fuck google cloud, heroku is retarded, fuck retarded hosts who ask you to pay $69/mb of RAM">
  <%- include('../partials/head') %> 
  <title><%= title %> </title>
</head>
<body>
  <header>
    <%-include('../partials/header') %>
  </header>
  <div class="middle">
    <div class="middle-inner">
      <h1 class="host-name"><b>Lawliet</b> <b class="Host">Host&trade;</b></h1>
      <p>Lawliet Host - The best free & paid hosting offering game server hosting, bot hosting, VPS hosting and web hosting for the cheapest prices in the market and an average review score of 4.9 out of 5!</p>
      <a class="get-started" href="/">Get Started</a>
    </div>
  </div>
  <div class="features">
    <h1>Features</h1>  
    <div class="features-inner">
      <div class="featured-item">
        <h3>Uptime</h3>
        <p>We are constantly working on providing you with the best services. The uptime of our servers obviously plays an important role in that. We are constantly trying to improve our uptime and currently are at an amazing <b>99.957%</b>*. We can say with confidence that it is one of the best out there.</p>
      </div>
      <div class="featured-item">
        <h3>Lag-free</h3>
        <p>We know that lag and be extremely annoying, both for you and your users. Thats why we have worked day and night on improving our servers only so you can enjoy lag-free servers with no compromizes.</p>
      </div>
      <div class="featured-item">
        <h3>Pricing</h3>
        <p>Our hosting is one of the cheapest you are ever going to find. We are one of the only hosting companies with such prices while no compromizes on the performance or uptime.</p>
      </div>
      <div class="featured-item">
        <h3>Performance</h3>
        <p>Despite the fact that we have amazing uptime and really cheap prices we NEVER have and never will compromize on your servers performance. By choosing us you are most certainly guranteed to have a server with dazzling performance and uptime.</p>
      </div>
      <div class="featured-item">
        <h3>Locations</h3>
        <p>We have servers all across the globe and you can choose where you would like yours located. Weather it be USA, France, Germany, Finland or any other location, we have got you covered, always.</p>
      </div>
      <div class="featured-item">
        <h3>Security</h3>
        <p>Your security comes in as one of our first priorities. By choosing us you can sit back and relax with no worries about your data being breached. This is possible because we are constantly working on the security of our users.</p>
      </div>
      <div class="featured-item">
        <h3>Speed</h3>
        <p>Our servers are really fast. While maintaining cheap pricing with almost no lag or downtime our servers are amazingly fast. Our competitors simply can not reach level.</p>
      </div>
      <div class="featured-item">
        <h3>Hardware</h3>
        <p>We use the most up-to-date hardware which is constantly being maintained by professionals to ensure that your servers have no compromises what-so-ever.</p>
      </div>
      <div class="featured-item">
        <h3>Customer Support</h3>
        <p>We have 24/7 customer support of trained professionals ready to help you anytime. Weather it be a techinal issue or a small question, we have got you covered.</p>
      </div>
      <div class="featured-item">
        <h3>Panel</h3>
        <p>Just like everything else we have, our panel is one of the best out there. With the sleek design and user-friendly interface you are guranteed to have no problems using it!</p>
      </div>
  </div>
</div>
<div class="reviews">
  <h1>Still don't trust us?</h1>
  <p class="check-reviews">Check out our reviews!</p>
  <div class="reviews-inner">
    <div class="review-item">
      <h3>Author name #1</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #2</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #3</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #4</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #5</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #6</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #7</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #8</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #9</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #10</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #11</h3>
      <p>Author review</p>
    </div>
    <div class="review-item">
      <h3>Author name #12</h3>
      <p>Author review</p>
    </div>
  </div>
</div>

<div class="contact-us">
  <div class="contact-us-inner">
      <h1>Contact us</h1>
      <div class="contact-us-content">
        <p>Do you wish you contact us regarding business, partnerships, reporting abuse or just casual support? Whatever the case might be, we have got you covered! Just send us an email at support@lawliet.host (or abuse@lawliet.host for ban appeals/reporting users) and we will respond shortly. If you want immediate support contact us through our <a href="https://discord.gg/6BZRvnn2T6">Discord live chat</a>. Open the appropriate ticket and a staff member will be with you shortly!</p>
      </div>  
  </div>
</div>
<div class="about-us">
  <div class="about-us-inner">
      <h1>About us</h1>
      <div class="about-us-content">
        <h3><b>Who are we?</b></h3>
        <p>We are a hosting company which gives you <b>100% FREE</b> Minecraft hosting, Discord bot hosting and premium hosting starting at $0.2!</p>
        <h3><b>How can you trust us?</b></h3>
        <p>You can trust us because we have amazing reviews. You can look at the reviews section in our <a href="https://discord.gg/e8bYS6Uv5N">Discord</a> or in this website.</p>
        <h3><b>Features</b></h3>
        <p>We offer you a wide variety of features. Some of those being great uptime, performance, amazing prices and much more!</p>
        <h3><b>How is the hosting free?</b></h3>
        <p>The hosting is free because we earn money through <a href="https://arc.io/about">Arc</a></p>
      </div>
  </div>
</div>

<div class="footer">
  <%- include("../partials/footer") %> 
</div>
</body>
</html>