<style>
        [data-custom-class='body'],
        [data-custom-class='body'] * {
                background: transparent !important;
        }

        [data-custom-class='title'],
        [data-custom-class='title'] * {
                font-family: Arial !important;
                font-size: 26px !important;
                color: #000000 !important;
        }

        [data-custom-class='subtitle'],
        [data-custom-class='subtitle'] * {
                font-family: Arial !important;
                color: #595959 !important;
                font-size: 14px !important;
        }

        [data-custom-class='heading_1'],
        [data-custom-class='heading_1'] * {
                font-family: Arial !important;
                font-size: 19px !important;
                color: #000000 !important;
        }

        [data-custom-class='heading_2'],
        [data-custom-class='heading_2'] * {
                font-family: Arial !important;
                font-size: 17px !important;
                color: #000000 !important;
        }

        [data-custom-class='body_text'],
        [data-custom-class='body_text'] * {
                color: #595959 !important;
                font-size: 14px !important;
                font-family: Arial !important;
        }

        [data-custom-class='link'],
        [data-custom-class='link'] * {
                color: #3030F1 !important;
                font-size: 14px !important;
                font-family: Arial !important;
                word-break: break-word !important;
        }
</style>

<div data-custom-class="body">
        <div>
                <div align="center" class="MsoNormal" style="text-align:center;line-height:115%;"><a
                                name="_2cipo4yr3w5d"></a>
                        <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><strong><span
                                                style="font-size: 26px;"><span data-custom-class="title">RETURN
                                                        POLICY</span></span></strong></div>
                        <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><br></div>
                        <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><span
                                        style="font-size: 15px;"><span style="color: rgb(89, 89, 89);"><strong><span
                                                                data-custom-class="subtitle">Last updated <bdt
                                                                        class="question">May 13, 2021</bdt>
                                                                </span></strong></span></span></div>
                        <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><br></div>
                        <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><span
                                        style="font-size: 15px;"><br><a name="_2cipo4yr3w5d"></a></span></div>
                </div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">Thank
                                you for your purchase. We hope you are happy with your purchase. However, if you are not
                                completely satisfied with your purchase for any reason, you may return it to us for <bdt
                                        class="block-container if" data-type="if"
                                        id="03b751bb-5eee-5230-df87-d0707fec3124">
                                        <bdt data-type="conditional-block">
                                                <bdt class="block-component" data-record-question-key="policy_type"
                                                        data-type="statement"></bdt>
                                                <bdt data-type="body">store credit or an exchange</bdt>
                                        </bdt>
                                        <bdt data-type="conditional-block">
                                                <bdt class="block-component" data-record-question-key="null"
                                                        data-type="statement"></bdt>
                                        </bdt>. Please see below for more information on our return policy.</span></div>
        </div>
        <div style="line-height: 1.1;"><br></div>
        <div>
                <div class="MsoNormal" data-custom-class="heading_1" style="line-height: 115%;"><a
                                name="_iwimutmowezb"></a><strong><span
                                        style="line-height: 115%; font-family: Arial; font-size: 19px;">RETURNS</span></strong>
                </div>
        </div>
        <div style="line-height: 1.1;"><br></div>
        <div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">All
                                returns must be postmarked within <bdt
                                        class="block-container question question-in-editor"
                                        data-id="10b33c27-be1f-aeda-7ea3-7c1f52ee6130" data-type="question">one (1)
                                </bdt> days of the purchase date. All returned items must be in new and unused
                                condition, with all original tags and labels attached.</span></div>
        </div>
        <div style="line-height: 1.1;"><br></div>
        <div>
                <div class="MsoNormal" data-custom-class="heading_1" style="line-height: 115%;"><a
                                name="_16t1v96tankw"></a><strong><span
                                        style="line-height: 115%; font-family: Arial; font-size: 19px;">RETURN
                                        PROCESS</span></strong></div>
        </div>
        <div style="line-height: 1.1;"><br></div>
        <div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">To
                                return an item, <bdt class="block-container if" data-type="if"
                                        id="51c4b423-789c-79e6-4161-743acb653a2d">
                                        <bdt data-type="conditional-block">
                                                <bdt class="block-component"
                                                        data-record-question-key="authorization_option"
                                                        data-type="statement"></bdt>
                                                <bdt data-type="body">please open a ticket at <bdt
                                                                class="block-container question question-in-editor"
                                                                data-id="0b78538e-7550-6c62-669a-d2eb2ed0eafb"
                                                                data-type="question">https://discord.gg/G5kh2bk6vs</bdt> after contacting us, a support agent will guide you.
                                                
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 115%;"><span
                                style="font-size: 15px;"><span
                                        style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                                </span></span></div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px;"><span
                                        style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                                </span></span></div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px;"><span style="color: rgb(89, 89, 89);">
                                        
                                        <bdt class="block-component"></bdt>
                                        <bdt class="block-component"></bdt>
                                </span></span></div>
        </div>
        <div style="line-height: 1.1;"><br></div>
        <div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                                <bdt class="block-container if" data-type="if"
                                        id="b7518b5d-84c0-c06e-ad97-c7421eb67b0b">
                                        <bdt data-type="conditional-block">
                                                <bdt class="block-component"
                                                        data-record-question-key="shipping_fee_option"
                                                        data-type="statement"></bdt>
                                        </bdt>
                                        <bdt class="block-container if" data-type="if"
                                                id="d3f0beb2-1468-a072-da09-6936c6e877e2">
                                                <bdt data-type="conditional-block">
                                                        <bdt class="block-component"
                                                                data-record-question-key="shipping_fee_option"
                                                                data-type="statement"></bdt>
                                                </bdt>
                                                <bdt class="block-container if" data-type="if"
                                                        id="48a0f62a-d42f-f443-061d-cbbf93b49154">
                                                        <bdt data-type="conditional-block">
                                                                <bdt class="block-component"
                                                                        data-record-question-key="shipping_fee_option"
                                                                        data-type="statement"></bdt>
                                                                <bdt data-type="body">Return shipping charges will be
                                                                        paid or reimbursed by us. </bdt>
                                                        </bdt>
                                                        <bdt class="statement-end-if-in-editor" data-type="close"></bdt>
                                                </bdt>
                                                <bdt class="block-container if" data-type="if"
                                                        id="ac6ab4e0-da32-a003-8324-04d8b43cb50c">
                                                        <bdt data-type="conditional-block">
                                                                <bdt class="block-component"
                                                                        data-record-question-key="shipping_fee_option"
                                                                        data-type="statement"></bdt>
                                                        </bdt>
                        </span></div>
                <div class="MsoNormal" style="line-height: 1.1;"><br></div>
                <div class="MsoNormal" data-custom-class="heading_1" style="line-height: 115%;"><a
                                name="_qxq7t4ufn5pr"></a><strong><span
                                        style="line-height: 115%; font-family: Arial; font-size: 19px;">REFUNDS</span></strong>
                </div>
                <div class="MsoNormal" style="line-height: 115%;"><a name="_kcap2nw8xg2p"></a></div>
                <div class="MsoNormal" style="line-height: 1.1;"><br></div>
                <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">After
                                receiving your return and inspecting the condition of your item, we will process your
                                <bdt class="block-container if" data-type="if"
                                        id="4c11860e-4346-687b-5cb3-3727f319e194">
                                        <bdt data-type="conditional-block">
                                                <bdt class="block-component" data-record-question-key="policy_type"
                                                        data-type="statement"></bdt>
                                                <bdt data-type="body">return or exchange</bdt>
                                        </bdt>
                                        <bdt data-type="conditional-block">
                                                <bdt class="block-component" data-record-question-key="policy_type"
                                                        data-type="statement"></bdt>
                                        </bdt>. Please allow at least <bdt
                                                class="block-container question question-in-editor"
                                                data-id="ab10b1ab-f4a1-256f-29ae-65257d891371" data-type="question">two
                                                (2)</bdt> days from the receipt of your item to process your <bdt
                                                class="block-container if" data-type="if"
                                                id="4c11860e-4346-687b-5cb3-3727f319e194" style="font-size: 14.6667px;">
                                                <bdt data-type="conditional-block">
                                                        <bdt class="block-component"
                                                                data-record-question-key="policy_type"
                                                                data-type="statement"></bdt>
                                                        <bdt data-type="body">return or exchange</bdt>
                                                </bdt>
                                                <bdt data-type="conditional-block">
                                                        <bdt class="block-component"
                                                                data-record-question-key="policy_type"
                                                                data-type="statement"></bdt>
                                                </bdt>.<bdt class="block-container if" data-type="if"
                                                        id="16f989a0-873e-9d7c-70f2-1c4b9cc7ecc4">
                                                        <bdt data-type="conditional-block">
                                                                <bdt class="block-component"
                                                                        data-record-question-key="policy_type"
                                                                        data-type="statement"></bdt>
                                                        </bdt>
                                                        <bdt class="block-container if" data-type="if"
                                                                id="b49c01dc-6b19-275b-5996-06e6aeaaf917">
                                                                <bdt data-type="conditional-block">
                                                                        <bdt class="block-component"
                                                                                data-record-question-key="customer_notification_option"
                                                                                data-type="statement"></bdt>
                                                                        <bdt data-type="body"> We will notify you by
                                                                                email when your return has been
                                                                                processed.</bdt>
                                                                </bdt>
                                                        </bdt>
                                                        <bdt class="block-container if" data-type="if"
                                                                id="b49c01dc-6b19-275b-5996-06e6aeaaf917">
                                                                <bdt class="statement-end-if-in-editor"
                                                                        data-type="close"></bdt>
                                                        </bdt></span></div>
                <div class="MsoNormal" style="line-height: 115%;"><a name="_gjdgxs"></a></div>
                <div class="MsoNormal" style="line-height: 1.1;"><br></div>
                <div class="MsoNormal" data-custom-class="heading_1" style="line-height: 115%;"><a
                                name="_33ujiidflcnn"></a><strong><span
                                        style="line-height: 115%; font-family: Arial; font-size: 19px;">EXCEPTIONS
                                </span></strong><span style="font-size: 15px;">
                                <bdt class="block-component"></bdt>
                                <bdt class="block-component"></bdt>
                        </span></div>
                <div data-custom-class="body_text" style="line-height: 1.1;"><br></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">The
                                following items cannot be <bdt class="block-component"></bdt>returned or exchanged<bdt
                                        class="else-block"></bdt>: </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                <bdt class="forloop-component"></bdt>
                        </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><strong
                                style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span
                                        style="font-size: 13px; color: rgb(89, 89, 89);color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                        ● </span></strong><span
                                style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                <bdt class="question">VPS</bdt>
                                <bdt class="forloop-component"></bdt>
                        </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><strong
                                style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span
                                        style="font-size: 13px; color: rgb(89, 89, 89);color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                        ● </span></strong><span
                                style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                <bdt class="question">VDS</bdt>
                                <bdt class="forloop-component"></bdt>
                        </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><strong
                                style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span
                                        style="font-size: 13px; color: rgb(89, 89, 89);color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                        ● </span></strong><span
                                style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                <bdt class="question">RDP</bdt>
                                <bdt class="forloop-component"></bdt>
                        </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><strong
                                style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span
                                        style="font-size: 13px; color: rgb(89, 89, 89);color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                        ● </span></strong><span
                                style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
                                <bdt class="question">dedicated server</bdt>
                                <bdt class="forloop-component"></bdt>
                        </span><span style="font-size: 15px;">
                                <bdt class="statement-end-if-in-editor"></bdt>
                        </span></div>
                <div data-custom-class="body_text" data-empty="true" style="line-height: 1.1;"><span
                                style="color: rgb(89, 89, 89);"><span style="font-size: 15px;"><br></span></span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span style="color: rgb(89, 89, 89);"><span
                                        style="font-size: 15px;">For defective or damaged products, please contact us at
                                        the contact details below to arrange a refund or exchange. </span></span></div>
                <div data-custom-class="body_text" data-empty="true" style="line-height: 1.5;"><span
                                style="color: rgb(89, 89, 89);"><span style="font-size: 15px;">
                                        <bdt class="block-component"></bdt>
                                </span></span></div>
                <div data-custom-class="body_text" data-empty="true" style="line-height: 1.5;"><span
                                style="color: rgb(89, 89, 89);"><span style="font-size: 15px;"><strong>Please
                                                Note</strong></span></span></div>
                <div data-custom-class="body_text" data-empty="true" style="line-height: 1.5;"><span
                                style="color: rgb(89, 89, 89);"><span style="font-size: 15px;">
                                        <bdt class="statement-end-if-in-editor"></bdt>
                                </span></span><span style="font-size: 15px;">
                                <bdt class="block-component"><span style="color: rgb(89, 89, 89);"></bdt>
                        </span><span style="color: rgb(89, 89, 89);"><span style="font-size: 15px;">
                                        <bdt class="block-component"></bdt>
                                        <bdt class="block-component"></bdt>
                                        <bdt class="forloop-component"></bdt>
                                </span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; color: rgb(89, 89, 89);"><strong
                                        style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><span
                                                style="font-size: 13px; color: rgb(89, 89, 89);"> <strong
                                                        style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; background-color: rgb(255, 255, 255);"><span
                                                                style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important;">●
                                                        </span></strong> </span></strong>
                                <bdt class="question">If a refund was issued through one of the payment gateways you
                                        used (like, PayPal), your services will be canceled and no refund/replacement
                                        will be issued.</bdt>
                                <bdt class="forloop-component"></bdt>
                                <bdt class="statement-end-if-in-editor"></bdt>
                        </span></div>
                <div style="line-height: 1.1;"><br></div>
                <div data-custom-class="heading_1"><span
                                style="font-size: 19px; color: rgb(0, 0, 0);"><strong>QUESTIONS</strong></span></div>
                <div style="line-height: 1.1;"><br></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; color: rgb(89, 89, 89);">If you have any questions concerning
                                our return policy, please contact us at:</span><span style="font-size: 15px;">
                                <bdt class="block-component"></bdt>
                        </span></span></div>
                <div data-custom-class="body_text" style="line-height: 1.5;"><span
                                style="font-size: 15px; color: rgb(89, 89, 89);">
                                <bdt class="question">https://discord.gg/G5kh2bk6vs</bdt>
                        </span></div>
                <style>
                        ul {
                                list-style-type: square;
                        }

                        ul>li>ul {
                                list-style-type: circle;
                        }

                        ul>li>ul>li>ul {
                                list-style-type: square;
                        }

                        ol li {
                                font-family: Arial;
                        }
                </style>
        </div>