<div class="header">
    <div class="header-title"><h1><a href="#">Lawliet Host™</a></h1></div>
    <ul class="nav">
        <li><a href="#" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>