<div class="header">
    <div class="header-title"><h1><a href="#">Lawliet Host™</a></h1></div>
    <ul class="nav">
        <li><a href="#" href="/">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
        <li><a href="#about-us">About</a></li>
        <li>
        <div class="dropdown">
            <button class="dropbtn">Links
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/pp">Privacy Policy</a>
              <a href="/tos">Terms of service</a>
              <a href="https://panel.lawliet.host">Panel</a>
              <a href="https://dashboard.lawliet.host">Dashboard</a>
              <a href="https://discord.gg/7N2zZsJdcR">Discord Server</a>
            </div>
          </div>
        </li>
    </ul>
</div>