<meta charset="UTF-8">
<title><%- title %> </title>
<link rel="stylesheet" href="/stylesheets/style.css">
<script data-ad-client="ca-pub-8624923243057478" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>
    /* body { padding-top:50px; } */
</style>